<div class="d-flex mt-5 py-2 title">
    
    <button class="btn btn-outline-light btn-sm" (click)="goBack()">
        <i class="fas fa-arrow-left"></i>
    </button>
    <h1> {{ (detailTvService.serieDetail$ | async)?.title }} </h1>
</div>


<!-- ******************************************* -->
<!-- *************** INFOS FICHE ***************-->
<!-- ******************************************* -->

<div *ngIf="detailTvService.serieDetail$ | async as serie" class="row detail">

    <div class="flex-container">


    <div class="affiche">
        <img [src]="getImgFullUrl(serie.posterPath)" alt="">
    </div>


    <div>
        <button [class]="wishStatusButton" data-bs-toggle="tooltip" data-bs-placement="top" [title]="wishTitleButton" (click)="updateStatusWishButton()">
            <span><i class="fa-regular fa-bookmark"></i></span>Wish
        </button>

        <button class="btn btn-outline-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Marquer comme vu" (click)="callTest('WATCH')">
            <span><i class="fa-solid fa-check"></i></span>Watch
        </button>
        
        <p><span><i class="fa-solid fa-couch"></i></span> : "cinema home file" </p>
        <p>
            <i class="fa-solid fa-star fa-md"></i>
            <i class="fa-solid fa-star fa-md"></i>
            <i class="fa-solid fa-star fa-md"></i>
            <i class="fa-solid fa-star-half-stroke fa-md"></i>
            <i class="fa-regular fa-star fa-md"></i>
        </p>
        <p>
            <i class="fa-regular fa-face-angry fa-lg" data-bs-toggle="tooltip" data-bs-placement="top" title="Pourri"></i>
            <i class="fa-regular fa-face-frown fa-lg" data-bs-toggle="tooltip" data-bs-placement="top" title="Très Nul"></i>
            <i class="fa-regular fa-face-frown-open fa-lg" data-bs-toggle="tooltip" data-bs-placement="top" title="Nul"></i>
            <i class="fa-regular fa-face-meh fa-lg" data-bs-toggle="tooltip" data-bs-placement="top" title="Bof"></i>
            <i class="fa-regular fa-face-grin fa-lg" data-bs-toggle="tooltip" data-bs-placement="top" title="Bien"></i>
            <i class="fa-regular fa-face-smile-beam fa-lg" data-bs-toggle="tooltip" data-bs-placement="top" title="Très Bien"></i>
            <i class="fa-regular fa-face-laugh fa-lg" data-bs-toggle="tooltip" data-bs-placement="top" title="Excellent"></i>
            <i class="fa-regular fa-face-grin-stars fa-lg" data-bs-toggle="tooltip" data-bs-placement="top" title="A ne pas manquer"></i>
            <i class="fa-regular fa-face-grin-hearts fa-lg" data-bs-toggle="tooltip" data-bs-placement="top" title="Coup de coeur"></i>
        </p>

        <h2>Popularité: <span>{{serie?.popularity}}</span></h2>
        
        <h2>Moyenne des votes: <span>{{serie?.voteAverage}}</span></h2>
        
        <h2>Nombre de votes: <span>{{serie?.voteCount}}</span></h2>
        
        <h2>Date de sortie: <span>{{ serie?.firstAirDate | date:'dd-MM-yyyy' }}</span></h2>

        <h2>Résumé</h2>
        <p>{{serie?.resume}}</p>

        <h2>Genres</h2>
        <p>
            <span class="badge rounded-pill bg-primary" *ngFor="let genre of serie.genres">{{ genre.name }}</span>
        </p>

        <h2>Statut</h2>
        <p>{{serie?.status}}</p>
    </div>

    </div>


</div>


<!-- *************************************** -->
<!-- *************** SAISONS ***************-->
<!-- *************************************** -->

<div *ngIf="detailTvService.seasonDetail$ | async as saisons" class="row detail">
    <div class="flex-container-season">
        <div class="accordion" id="accordion-saison">
            <div *ngFor="let season of detailSeasons" class="accordion-item">
              <h2 class="accordion-header" id="heading{{season.season_number}}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + season.season_number" aria-expanded="ture" [attr.aria-controls]="'collapse' + season.season_number">
                    Saison {{season.season_number}}
                </button>
              </h2>
              <div id="collapse{{season.season_number}}" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + season.season_number" data-bs-parent="#accordion-saison">
                <div class="accordion-body">

                    <!-- INFO SAISON -->
                    
                    <div class="flex-container">
                        <div class="affiche-season">
                            <img [src]="getImgSeasonFullUrl(season.poster_path)" alt="">
                        </div>
                        <div>
                            <div class="mini-menu">
                                <i [class]="this.mapWishSeason.get(season.idTmdb)?.cssIconOn? this.mapWishSeason.get(season.idTmdb)?.cssIconOn:_wishStatusIconOff" style="color: yellow; margin-right: 10px;" (click)="updateStatusWishSeason(season.idTmdb)"></i>
                                <i class="fa-solid fa-check fa-lg" style="color: blue;" (click)="callTest('WATCH')"></i>
                            </div>                     
                            <p><strong>Date de sortie: </strong> {{season.air_date | date:'dd-MM-yyyy' }}</p>
                            <p><strong>Episodes: </strong> {{season.episodes.length}}</p>
                            <p><strong>Résumé: </strong> {{season.overview?season.overview:"Non disponible"}}</p>
                        </div>
                    </div>
                        <!-- LISTE EPISODES -->
                    <div>
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">N°</th>
                                <th scope="col">Titre</th>
                                <th scope="col">Durée (min)</th>
                                <th scope="col">Date de diffusion</th>
                                <th scope="col">Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let episode of season.episodes">
                                <th scope="row">{{ episode.episode_number }}</th>
                                <td>{{ episode.name?episode.name:"Non disponible" }}</td>
                                <td>{{ episode.runtime?episode.runtime:"-" }}</td>
                                <td>{{ episode.air_date?(episode.air_date | date:"dd-MM-yyyy"):"-"}}</td>
                                <td>
                                    <i [class]="this.mapWishEpisode.get(episode.id)?.cssIconOn?this.mapWishEpisode.get(episode.id)?.cssIconOn:_wishStatusIconOff" style="color: yellow; margin-right: 10px;" (click)="updateStatusWishEpisode(season.idTmdb, episode.id)"></i>
                                    <i class="fa-solid fa-check fa-lg" style="color: blue;" (click)="callTest('WATCH')"></i>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>


                </div>
              </div>
            </div>
          </div>
    </div>
</div>
