<div class="row pt-3 pb-5 seeall">
    <h2 class="text-center">See all tvs</h2>

    <div *ngFor="let tv of tvs" class="col-12  col-lg-2 col-md-4">

        <div [routerLink]="['/detailtv',tv.id]" class="card bg-dark flex">
            <img [src]="getImgFullUrl(tv.image_landscape)" alt="">
            <div class="mini-menu">
                <i class="fa-regular fa-bookmark fa-lg" style="color: yellow;" (click)="callTest('WISH'); $event.preventDefault(); $event.stopPropagation()"></i>
                <i class="fa-solid fa-check fa-lg" style="color: blue;" (click)="callTest('WATCH'); $event.preventDefault(); $event.stopPropagation()"></i>
            </div>
            <div class="card-body">
                <h2>{{tv.titre}}</h2>

            </div>
        </div>

    </div>
</div>


<app-actionbartv></app-actionbartv>