<input #field (keyup)="onKeyupInput(field.value)" type="text" class="form-control" placeholder="Rechercher des films...">

<ul *ngIf="searchedMovies.length>0"> 
  <li [routerLink]="['/detailmovie',movie.idMovie]" *ngFor="let movie of searchedMovies">
    <div class="row">
      <div class="col-1">
        <div class="image-container">
          <img [src]="getImgFullUrl(movie.posterPath)" alt="">
        </div>
      </div>
      <div class="col-10">
        <div class="title_movie">{{movie?.title}} ({{ movie?.releaseDate | date:'yyyy' }})</div>
        <p>{{movie?.overview}}</p>
      </div>
    </div>
  </li>
</ul>


