<nav class="navbar bg-dark" data-bs-theme="dark">  
  <div class="topnav">
    <div class="container-fluid">
      <a routeurLink="/" class="navbar-brand" href="#">Movie Manager (by THE Moviedbteam)</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/login" class="nav-link btn">
            <i class="fa-solid fa-user"></i>
          </a>
        </li>
      </ul>    
    </div>
  </div>
</nav>


<div class="leftnavmenu">
  <nav class="nav flex-column" class="nav nav-pills nav-fill">
    <div class="container-fluid">
      <h2>Menu</h2>
    </div>
  </nav>
</div>

<div class="leftnav">
  <nav class="nav flex-column" class="nav nav-pills nav-fill">
    <div class="container-fluid">
      <a class="navbar-brand" aria-current="page" href="#">Série</a>
      <a class="nav-link active" aria-current="page" href="#">Bibliothèque</a>
      <a class="nav-link" href="#">Ajouter série</a>
      <a class="nav-link" href="#">Calendrier</a>
      <a class="navbar-brand" aria-current="page" href="#">Film</a>
      <a class="nav-link active" aria-current="page" href="#">Bibliothèque</a>
      <a class="nav-link" href="#">Ajouter série</a>
      <a class="nav-link" href="#">Calendrier</a>
    </div>
  </nav>
</div>


<div class="container-fluid mt-5">
  <router-outlet></router-outlet>
</div>