<input #field (keyup)="onKeyupInput(field.value)" type="text" class="form-control" placeholder="Rechercher des séries...">

<ul *ngIf="searchedtvs.length>0"> 
  <li [routerLink]="['/detailtv', tv.id]" *ngFor="let tv of searchedtvs">
    <div class="row">
      <div class="col-1">
        <div class="image-container">
          <img [src]="getImgFullUrl(tv.image_portrait)" alt="">
        </div>
      </div>
      <div class="col-10">
        <div class="title_movie">{{tv?.titre}} ({{ tv?.firstAirDate | date:'yyyy' }})</div>
        <p>{{tv?.resume}}</p>
      </div>
    </div>
  </li>
</ul>