<div class="overviewContainer">

    
    <p>overview works!</p>
    
    <div class="cdk-virtual-scroll-data-source-example">
        <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="50" class="example-viewport">
            <div *cdkVirtualFor="let wishMovie of wishMoviesINIT" class="example-item">{{wishMovie}}</div>
        </cdk-virtual-scroll-viewport>
        <br>
        <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="50" class="example-viewport">
            <div *cdkVirtualFor="let watchMovie of watchMoviesINIT" class="example-item">{{watchMovie}}</div>
        </cdk-virtual-scroll-viewport>
    </div>
    
</div>